designs/pages/IMH/doctor/doctor.json
[
    {
        "id": "sd_EnvkooQBWS960BAB",
        "type": "tab",
        "createdDate": "2024-02-16T13:04:16.821Z",
        "label": "doctor",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "doctorComponent"
    },
    {
        "id": "sd_Yvy9gKopJ6jpSnwV",
        "type": "OnInit",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_Yvy9gKopJ6jpSnwV",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_ExIxlhYviQk1KYpC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctorComponent"
    },
    {
        "id": "sd_ExIxlhYviQk1KYpC",
        "type": "PageVariables",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "departments",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "pageOfDoctor",
                "typedIpValue": {
                    "type": "str",
                    "value": "addDoctor"
                }
            }
        ],
        "functionName": "sd_ExIxlhYviQk1KYpC",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_VCtrdXU4GLfbxwTj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_Yz6ZlacHXFtlRxH9",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.departments = bh.local?.response?.response \n// || [{id:1,department:'Cardiologist'},{id:2,department:'Neurologist'},{id:3,department:'Orthopedist'},{id:4,department:'Pediatrician'},{id:5,department:'Nephrologist'},{id:6,department:'Endocrinologist'},{id:6,department:'Radiologist'},{id:7,department:'Surgeon'}]",
        "functionName": "sd_Yz6ZlacHXFtlRxH9",
        "category": "Function",
        "x": 665,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_VCtrdXU4GLfbxwTj",
        "type": "UseDependency",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_VCtrdXU4GLfbxwTj",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_EC1DwdTOS7R4SUZx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_njPCyxtolOvlzc3O",
        "type": "PageStart",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submitForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "sd_4suX6RhLYPrA3Eyv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctorComponent"
    },
    {
        "id": "sd_woUUmox5cHGBdi9q",
        "type": "PageCallService",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_hdd633XWNoRo2DjT",
            "flowName": "addDoctor"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "addForm.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "addDoctor",
        "inputParams": [
            null,
            "this.page.addForm.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_woUUmox5cHGBdi9q",
        "category": "General",
        "x": 325,
        "y": 220,
        "wires": [
            [
                "sd_9VCtIfQJmT89dwTL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_yieztFotjU4PoUHq",
        "type": "SnackBar",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Doctor add successfully"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "top",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yieztFotjU4PoUHq",
        "category": "General",
        "x": 665,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_x2lFFCcQlKFCVIm3",
        "type": "PageCallService",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_gFsQjrGcMIXzyOQD",
            "flowName": "fetchDepartments"
        },
        "inputVariables": [
            {
                "key": "departments",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "departments",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "departments",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "fetchDepartments",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_x2lFFCcQlKFCVIm3",
        "category": "General",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_Yz6ZlacHXFtlRxH9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_EC1DwdTOS7R4SUZx",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.addForm = new page.formGroup({\n    name: new page.formControl('',[page.validator.required]),\n    phone_no: new page.formControl('',[page.validator.required]),\n    dob: new page.formControl('',[page.validator.required]),\n    education: new page.formControl('',[page.validator.required]),\n    address: new page.formControl('',[page.validator.required]),\n    email: new page.formControl('',[page.validator.required]),\n    salary: new page.formControl('',[page.validator.required]),\n    department_id: new page.formControl('',[page.validator.required]),\n    token_limit: new page.formControl('',[page.validator.required])\n})",
        "functionName": "sd_EC1DwdTOS7R4SUZx",
        "category": "Function",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "sd_x2lFFCcQlKFCVIm3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_4suX6RhLYPrA3Eyv",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let currentDate = new Date();\nlet birthday = new Date(currentDate.getFullYear() - 23, currentDate.getMonth(), currentDate.getDate());\nconsole.log(birthday)\nif(new Date(page.addForm.value.dob)>new Date(birthday)){\n    throw {\n        status:411,\n        message:'Doctor is under age'\n    }\n}",
        "functionName": "sd_4suX6RhLYPrA3Eyv",
        "category": "Function",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "sd_woUUmox5cHGBdi9q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_KqhzfKUhXtOd7A09",
        "type": "Catch",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_xD2Q19iTVXvTz9h2",
            "sd_rENjy7qtTWDSMaYz",
            "sd_C73CBCWV6AiBJKck"
        ],
        "functionName": "sd_KqhzfKUhXtOd7A09",
        "category": "General",
        "x": 205,
        "y": 360,
        "wires": [
            [
                "sd_xD2Q19iTVXvTz9h2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctorComponent"
    },
    {
        "id": "sd_C73CBCWV6AiBJKck",
        "type": "SnackBar",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "error.message"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "bh",
            "value": "error.message"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_C73CBCWV6AiBJKck",
        "category": "General",
        "x": 585,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_xD2Q19iTVXvTz9h2",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.error,'error showing')",
        "functionName": "sd_xD2Q19iTVXvTz9h2",
        "category": "Function",
        "x": 345,
        "y": 360,
        "wires": [
            [
                "sd_rENjy7qtTWDSMaYz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_rENjy7qtTWDSMaYz",
        "type": "PageSwitch",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "error.status",
        "propertyType": "bh",
        "propertyGv": "bh.error.status",
        "rules": [
            {
                "t": "eq",
                "v": "411",
                "vt": "num",
                "gv": "411"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_rENjy7qtTWDSMaYz",
        "category": "Function",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "sd_C73CBCWV6AiBJKck"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_9VCtIfQJmT89dwTL",
        "type": "PageSwitch",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.status",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response.status",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_9VCtIfQJmT89dwTL",
        "category": "Function",
        "x": 485,
        "y": 220,
        "wires": [
            [
                "sd_yieztFotjU4PoUHq",
                "sd_zmjR3rq1pCZlJze6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_sGZBP64H6PI0DeP0",
        "type": "PageStart",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "set page",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "page",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "setPage",
        "category": "General",
        "x": 125,
        "y": 480,
        "wires": [
            [
                "sd_op5kqNasjYJH4zMd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctorComponent"
    },
    {
        "id": "sd_op5kqNasjYJH4zMd",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.pageOfDoctor = bh.input?.page",
        "functionName": "sd_op5kqNasjYJH4zMd",
        "category": "Function",
        "x": 390,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    },
    {
        "id": "sd_zmjR3rq1pCZlJze6",
        "type": "Script",
        "z": "sd_EnvkooQBWS960BAB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.pageOfDoctor ='listDoctors'",
        "functionName": "sd_zmjR3rq1pCZlJze6",
        "category": "Function",
        "x": 665,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctorComponent",
        "generated": true
    }
]
