designs/pages/IMH/appointment/user_appointment.json
[
    {
        "id": "sd_kkJHQe5AYhoPmqGF",
        "type": "tab",
        "createdDate": "2024-02-16T13:08:31.935Z",
        "label": "user_appointment",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_n9WL4pxeGuHW95fV",
        "type": "OnInit",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_n9WL4pxeGuHW95fV",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_9Fkdso8lcsHONrVX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_9Fkdso8lcsHONrVX",
        "type": "PageVariables",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "departments",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "doctors",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "file",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "currentDate",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "selectedDate",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "dateDiff",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "startDate",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_9Fkdso8lcsHONrVX",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_CmMZQk9N8FNtEY1U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_CmMZQk9N8FNtEY1U",
        "type": "UseDependency",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_CmMZQk9N8FNtEY1U",
        "category": "Function",
        "x": 360,
        "y": 31,
        "wires": [
            [
                "sd_mhpHYStGRuRAvf78"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_mhpHYStGRuRAvf78",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.form = new page.formGroup({\n    name: new page.formControl('',[page.validators.required]),\n    phone_no: new page.formControl('',[page.validators.required,page.validators.pattern(/^\\d{10}$/)]),\n    blood_group: new page.formControl('',[page.validators.required]),\n    place: new page.formControl('',[page.validators.required]),\n    cash: new page.formControl('',[page.validators.required]),\n    doctor_id: new page.formControl('',[page.validators.required]),\n    email: new page.formControl('',[page.validators.required]),\n    sla: new page.formControl('',[page.validators.required]),\n    pin_code: new page.formControl('',[page.validators.required]),\n    dob: new page.formControl('',[page.validators.required]),\n    address: new page.formControl('',[page.validators.required])\n})\n",
        "functionName": "sd_mhpHYStGRuRAvf78",
        "category": "Function",
        "x": 525,
        "y": 31,
        "wires": [
            [
                "sd_VSWnvma9zKUIOWaC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_VSWnvma9zKUIOWaC",
        "type": "PageCallService",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "fetching departments",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WHTCUYDcvN50YSU7",
            "type": "tab",
            "createdDate": "2024-02-14T15:51:35.295Z",
            "label": "appoinment",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ivnXf8iTpT6qmaW0",
            "flowName": "gettingDepartmentsList"
        },
        "inputVariables": [
            {
                "key": "departments",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "departments",
                "valueType": "bh.input",
                "value": "departments",
                "mapVarName": "departments",
                "localVar": "bh.input.departments"
            }
        ],
        "serviceImportPath": "app/sd-services/appoinment",
        "startName": "gettingDepartmentsList",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "fetchingDepartments",
        "category": "General",
        "x": 641,
        "y": 31,
        "wires": [
            [
                "sd_AQxLfYLyUZ9HUE2t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_AQxLfYLyUZ9HUE2t",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.departments = bh.input?.departments?.response\n\npage.currentDate = new Date().toLocaleDateString();\npage.startDate = new Date()",
        "functionName": "sd_AQxLfYLyUZ9HUE2t",
        "category": "Function",
        "x": 780,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_UwA2oHMSgITUT90a",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "doctorsFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "department",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "doctorsFilter",
        "category": "General",
        "x": 105,
        "y": 160,
        "wires": [
            [
                "sd_Pgd3oydCbbOEooZt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_zFiKHPGlGuzX4Hr2",
        "type": "PageCallService",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WHTCUYDcvN50YSU7",
            "type": "tab",
            "createdDate": "2024-02-14T15:51:35.295Z",
            "label": "appoinment",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_1duv42srxuf6rjDP",
            "flowName": "gettingDoctorsList"
        },
        "inputVariables": [
            {
                "key": "doctors",
                "map": true,
                "valueType": "bh.input",
                "value": "department"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "doctors",
                "valueType": "bh.input",
                "value": "doctors",
                "mapVarName": "doctors",
                "localVar": "bh.input.doctors"
            }
        ],
        "serviceImportPath": "app/sd-services/appoinment",
        "startName": "gettingDoctorsList",
        "inputParams": [
            "bh.input.department"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_zFiKHPGlGuzX4Hr2",
        "category": "General",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "sd_5m4qJLh9lSr5lnAS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_5m4qJLh9lSr5lnAS",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.doctors = bh.input?.doctors?.response?.data\npage.selected = bh.input?.doctors?.response?.selcted\n\n\n\npage.form.value.doctor_id = bh.input?.doctors?.response?.selcted?.id\n",
        "functionName": "sd_5m4qJLh9lSr5lnAS",
        "category": "Function",
        "x": 560,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_Pgd3oydCbbOEooZt",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"kkkkkkkkkkkkkkk\")\nconsole.log(bh.input.department)\nconsole.log(\"jjjjjjjjjjjjjjjjj\")",
        "functionName": "sd_Pgd3oydCbbOEooZt",
        "category": "Function",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "sd_zFiKHPGlGuzX4Hr2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_kKX1qu7KLgC5ZHou",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cashPayment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cashPayment",
        "category": "General",
        "x": 105,
        "y": 280,
        "wires": [
            [
                "sd_GK1vjWSr2GO5EFim"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_GK1vjWSr2GO5EFim",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.form.value)\n\n\nconst formData = new FormData();\n    formData.append('name',page.form?.value?.name);\n    formData.append('phone_no',page.form?.value?.phone_no);\n    formData.append('blood_group',page.form?.value?.blood_group);\n    formData.append('place',page.form?.value?.place);\n    formData.append('cash',page.form?.value?.cash);\n    formData.append('doctor_id',page.form?.value?.doctor_id);\n    formData.append('email',page.form?.value?.email);\n    formData.append('sla',page.form?.value?.sla);\n    formData.append('pin_code',page.form?.value?.pin_code);\n    formData.append('dob',page.form?.value?.dob);\n    formData.append('newFile',page.file);\n    formData.append('address',page.form?.value?.address);\n    formData.append('payment_method',\"cash\");\n    \n    page.datas = formData",
        "functionName": "sd_GK1vjWSr2GO5EFim",
        "category": "Function",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "sd_twGTtYg1m2pOC15t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_twGTtYg1m2pOC15t",
        "type": "PageCallService",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WHTCUYDcvN50YSU7",
            "type": "tab",
            "createdDate": "2024-02-14T15:51:35.295Z",
            "label": "appoinment",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ij0KzYogn6nP6HmI",
            "flowName": "cashAppoinment"
        },
        "inputVariables": [
            {
                "key": "appoinment",
                "map": true,
                "valueType": "this.page",
                "value": "datas"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/appoinment",
        "startName": "cashAppoinment",
        "inputParams": [
            "this.page.datas"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_twGTtYg1m2pOC15t",
        "category": "General",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "sd_r4vPEf7ohfor6Dgh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_5ZCXqYwbe6UjlmuX",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onlinePayment",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onlinePayment",
        "category": "General",
        "x": 105,
        "y": 380,
        "wires": [
            [
                "sd_eJdqg6Bu3aoWqCHZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_eJdqg6Bu3aoWqCHZ",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.form.value)\n\nconst formData = new FormData();\n    formData.append('name',page.form?.value?.name);\n    formData.append('phone_no',page.form?.value?.phone_no);\n    formData.append('blood_group',page.form?.value?.blood_group);\n    formData.append('place',page.form?.value?.place);\n    formData.append('cash',page.form?.value?.cash);\n    formData.append('doctor_id',page.form?.value?.doctor_id);\n    formData.append('email',page.form?.value?.email);\n    formData.append('sla',page.form?.value?.sla);\n    formData.append('pin_code',page.form?.value?.pin_code);\n    formData.append('dob',page.form?.value?.dob);\n    formData.append('newFile',page.file);\n    formData.append('address',page.form?.value?.address);\n    formData.append('payment_method',\"stripe\");\n    formData.append('sucess_url',\"http://localhost:4200/patients?session_id={CHECKOUT_SESSION_ID}\");\n    formData.append('cancel_url',\"http://localhost:4200/appoinment\");\n\n\nconsole.log(\"jjjjjjjjj\")\nconsole.log(formData)\n\npage.datas = formData\n\n",
        "functionName": "sd_eJdqg6Bu3aoWqCHZ",
        "category": "Function",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "sd_0Ibh59IFuJ5J1owX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_0Ibh59IFuJ5J1owX",
        "type": "PageCallService",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_WHTCUYDcvN50YSU7",
            "type": "tab",
            "createdDate": "2024-02-14T15:51:35.295Z",
            "label": "appoinment",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_yeoHHfEtXGKefsqC",
            "flowName": "onlineAppoinment"
        },
        "inputVariables": [
            {
                "key": "appoinment",
                "map": true,
                "valueType": "this.page",
                "value": "datas"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "appoinment",
                "valueType": "bh.input",
                "value": "appoinment",
                "mapVarName": "appoinment",
                "localVar": "bh.input.appoinment"
            }
        ],
        "serviceImportPath": "app/sd-services/appoinment",
        "startName": "onlineAppoinment",
        "inputParams": [
            "this.page.datas"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_0Ibh59IFuJ5J1owX",
        "category": "General",
        "x": 420,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_KCHTV5X1dCdowb3n",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cancelBtn",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cancelBtn",
        "category": "General",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "sd_cl0fyxxKL4qAFwGZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_cl0fyxxKL4qAFwGZ",
        "type": "Navigation",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_cl0fyxxKL4qAFwGZ",
        "category": "Navigation",
        "x": 260,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_T8aqlfEbVWdQ580S",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fileupload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "file",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileupload",
        "category": "General",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "sd_1buxLBesiDmpQVoq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_1buxLBesiDmpQVoq",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.file)\npage.file = bh.input?.file",
        "functionName": "sd_1buxLBesiDmpQVoq",
        "category": "Function",
        "x": 265,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_r4vPEf7ohfor6Dgh",
        "type": "Navigation",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/patients",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_r4vPEf7ohfor6Dgh",
        "category": "Navigation",
        "x": 545,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_AcksXQfTZh74hOuD",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Logout",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logout",
        "category": "General",
        "x": 112,
        "y": 689.8125,
        "wires": [
            [
                "sd_BnnJ32rN5R8eWIxm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_BnnJ32rN5R8eWIxm",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "LogoutFunction",
        "script": "page.system.oauthService.logout('http://localhost:4200/home')",
        "functionName": "logoutFunction",
        "category": "Function",
        "x": 292,
        "y": 689.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    },
    {
        "id": "sd_rmMtZ22rgUQ8Rvds",
        "type": "PageStart",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "pages",
        "nodeType": "start",
        "name": "selectdate",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedDate",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selectdate",
        "category": "General",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "sd_8NC3cQ9aEAKOMBWz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "user_appointmentComponent"
    },
    {
        "id": "sd_8NC3cQ9aEAKOMBWz",
        "type": "Script",
        "z": "sd_kkJHQe5AYhoPmqGF",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.selectedDate)\n\nconst inputDate = new Date(bh.input.selectedDate);\n\n// Use the Intl.DateTimeFormat constructor to specify the desired date format\nconst dateFormatter = new Intl.DateTimeFormat('en-US', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n});\n\n\nconst formattedDate = dateFormatter.format(inputDate);\n\npage.selectedDate = formattedDate\n\nlet current = +new Date(page?.currentDate)\nlet select = +new Date(page?.selectedDate)\nlet diff = select - current\n// Convert the time difference to days, hours, and minutes\nlet days = Math.floor((diff / (1000 * 60 * 60 * 24)));\npage.dateDiff = days",
        "functionName": "sd_8NC3cQ9aEAKOMBWz",
        "category": "Function",
        "x": 600,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "user_appointmentComponent",
        "generated": true
    }
]
