designs/pages/AIMS/department/add_form.json
[
    {
        "id": "sd_eJ3SUcEk19CtsN2Z",
        "type": "tab",
        "createdDate": "2024-02-13T10:58:51.869Z",
        "label": "add_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "add_formComponent"
    },
    {
        "id": "sd_KHtkEcjzfmBCyXdk",
        "type": "OnInit",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_KHtkEcjzfmBCyXdk",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_eME1b4sKUF4VN0qh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_formComponent"
    },
    {
        "id": "sd_eME1b4sKUF4VN0qh",
        "type": "PageVariables",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_eME1b4sKUF4VN0qh",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_29CmTLc943g1lOms"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_formComponent",
        "generated": true
    },
    {
        "id": "sd_f6INpdB0MT1402d0",
        "type": "PageStart",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmission",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmission",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_ul7bfEysfFj0BkE9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_formComponent"
    },
    {
        "id": "sd_WfWhQDZUVNy2ZGpd",
        "type": "Script",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.form?.value)",
        "functionName": "sd_WfWhQDZUVNy2ZGpd",
        "category": "Function",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_formComponent",
        "generated": true
    },
    {
        "id": "sd_ul7bfEysfFj0BkE9",
        "type": "PageCallService",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJAbzQgqql3UVlNY",
            "flowName": "addDepartment"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "form.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "addDepartment",
        "inputParams": [
            null,
            "this.page.form.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ul7bfEysfFj0BkE9",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            [
                "sd_WfWhQDZUVNy2ZGpd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_formComponent",
        "generated": true
    },
    {
        "id": "sd_kOLgbo8SO7mWlK3G",
        "type": "SnackBar",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_kOLgbo8SO7mWlK3G",
        "category": "General",
        "x": 565,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_formComponent"
    },
    {
        "id": "sd_29CmTLc943g1lOms",
        "type": "UseDependency",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "libaries",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "libaries",
        "category": "Function",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_P0cOC3KuTFh5Kzu6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_formComponent",
        "generated": true
    },
    {
        "id": "sd_P0cOC3KuTFh5Kzu6",
        "type": "Script",
        "z": "sd_eJ3SUcEk19CtsN2Z",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.form = new page.formGroup({\n    department : new page.formControl('',[page.validators.required]),\n    info: new page.formControl('',[page.validators.required])\n})\n",
        "functionName": "sd_P0cOC3KuTFh5Kzu6",
        "category": "Function",
        "x": 545,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_formComponent",
        "generated": true
    }
]
