designs/pages/AIMS/department/department_page.json
[
    {
        "id": "sd_FEdZI9so8BLCLHQh",
        "type": "tab",
        "createdDate": "2024-02-12T12:35:05.277Z",
        "label": "department_page",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "department_pageComponent"
    },
    {
        "id": "sd_wSprzm9Sm1P3u1db",
        "type": "OnInit",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_wSprzm9Sm1P3u1db",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 100,
        "wires": [
            [
                "sd_TpEvDtLZS471UYdG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "department_pageComponent"
    },
    {
        "id": "sd_TpEvDtLZS471UYdG",
        "type": "PageVariables",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_TpEvDtLZS471UYdG",
        "category": "Function",
        "x": 185,
        "y": 100,
        "wires": [
            [
                "sd_1jzZJf65PWsHoNQ4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "department_pageComponent",
        "generated": true
    },
    {
        "id": "sd_1jzZJf65PWsHoNQ4",
        "type": "UseDependency",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "libaries",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "libaries",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_Snh5juX97vQtLG9h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "department_pageComponent",
        "generated": true
    },
    {
        "id": "sd_Snh5juX97vQtLG9h",
        "type": "Script",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.form = new page.formGroup({\n    department : new page.formControl('',[page.validators.required]),\n    description: new page.formControl()\n})",
        "functionName": "sd_Snh5juX97vQtLG9h",
        "category": "Function",
        "x": 505,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "department_pageComponent",
        "generated": true
    },
    {
        "id": "sd_7iSJTjBH4QBvSYHI",
        "type": "PageStart",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmission",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmission",
        "category": "General",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "sd_crJey7rxRgbGGzxu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "department_pageComponent"
    },
    {
        "id": "sd_crJey7rxRgbGGzxu",
        "type": "Script",
        "z": "sd_FEdZI9so8BLCLHQh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.form.value)",
        "functionName": "sd_crJey7rxRgbGGzxu",
        "category": "Function",
        "x": 340,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "department_pageComponent",
        "generated": true
    }
]
