designs/pages/AIMS/department/edit_modal.json
[
    {
        "id": "sd_5V0jrq7jEtVZfL0r",
        "type": "tab",
        "createdDate": "2024-02-13T12:03:22.105Z",
        "label": "edit_modal",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "edit_modalComponent"
    },
    {
        "id": "sd_msfBce9vmErGgbUv",
        "type": "OnInit",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "editData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            },
            {
                "key": "closeModal",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "pageVariables": [],
        "functionName": "sd_msfBce9vmErGgbUv",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_dRsajhFeQeDwGxzj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_modalComponent"
    },
    {
        "id": "sd_dRsajhFeQeDwGxzj",
        "type": "PageVariables",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "editData",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageInput.editData"
                }
            }
        ],
        "functionName": "sd_dRsajhFeQeDwGxzj",
        "category": "Function",
        "x": 225,
        "y": 80,
        "wires": [
            [
                "sd_IrDw16doJ1qJSEDB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_IrDw16doJ1qJSEDB",
        "type": "UseDependency",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "libaries",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "libaries",
        "category": "Function",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_oWsjWTueeeENV5Om"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_MTZCTvqJOEzKsjUv",
        "type": "PageStart",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close_modal_function",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeModalFunction",
        "category": "General",
        "x": 85,
        "y": 420,
        "wires": [
            [
                "sd_kR9Fq4DDM03fyLd2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_modalComponent"
    },
    {
        "id": "sd_8QusQRLdHmAqCDk9",
        "type": "Output",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "eventName": "bh.pageOutput.closeModal",
        "data": "\"'close'\"",
        "functionName": "sd_8QusQRLdHmAqCDk9",
        "category": "Function",
        "x": 465,
        "y": 420,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "bh.pageOutput",
                "value": "closeModal",
                "constant": false
            },
            "data": {
                "type": "str",
                "value": "'close'",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_kR9Fq4DDM03fyLd2",
        "type": "Script",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('calling from modal')",
        "functionName": "sd_kR9Fq4DDM03fyLd2",
        "category": "Function",
        "x": 265,
        "y": 420,
        "wires": [
            [
                "sd_8QusQRLdHmAqCDk9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_oWsjWTueeeENV5Om",
        "type": "Script",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.editData,'edit data printing')\npage.editForm = new page.formGroup({\n    department : new page.formControl(page.editData.department,[page.validators.required]),\n    info: new page.formControl(page.editData?.info,[page.validators.required])\n})\n",
        "functionName": "sd_oWsjWTueeeENV5Om",
        "category": "Function",
        "x": 565,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_0QJrBpUjrOOVeYse",
        "type": "PageStart",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmission",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmission",
        "category": "General",
        "x": 85,
        "y": 200,
        "wires": [
            [
                "sd_R2YQ7xXj98gshPkj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_modalComponent"
    },
    {
        "id": "sd_0h78doOzJ7mchmKu",
        "type": "Script",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.editForm?.value,'========')",
        "functionName": "sd_0h78doOzJ7mchmKu",
        "category": "Function",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "sd_dlX4eyPtC8trQuzY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_R2YQ7xXj98gshPkj",
        "type": "PageCallService",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_UB1I5yieE0ATvfFj",
            "flowName": "editDepartment"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "editForm.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "editDepartment",
        "inputParams": [
            null,
            "this.page.editForm.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_R2YQ7xXj98gshPkj",
        "category": "General",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_0h78doOzJ7mchmKu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    },
    {
        "id": "sd_guw23jh1fLlbNgKF",
        "type": "SnackBar",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_guw23jh1fLlbNgKF",
        "category": "General",
        "x": 565,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "edit_modalComponent"
    },
    {
        "id": "sd_dlX4eyPtC8trQuzY",
        "type": "PageCallService",
        "z": "sd_5V0jrq7jEtVZfL0r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_5V0jrq7jEtVZfL0r",
            "type": "tab",
            "createdDate": "2024-02-13T12:03:22.105Z",
            "label": "edit_modal",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_MTZCTvqJOEzKsjUv",
            "flowName": "closeModalFunction"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "closeModalFunction",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_dlX4eyPtC8trQuzY",
        "category": "General",
        "x": 565,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "edit_modalComponent",
        "generated": true
    }
]
