designs/pages/IMH/patients/patientslist.json
[
    {
        "id": "sd_wTCxtJ9bwOR3Cb37",
        "type": "tab",
        "createdDate": "2024-02-16T15:18:16.208Z",
        "label": "patientslist",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_sDu4kgrRBgvovaDL",
        "type": "OnInit",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_sDu4kgrRBgvovaDL",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_QWSNHIrm2ekn57gb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_QWSNHIrm2ekn57gb",
        "type": "PageVariables",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "patientslist",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "status",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "datas",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "detailed",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "reciept",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_QWSNHIrm2ekn57gb",
        "category": "Function",
        "x": 225,
        "y": 200,
        "wires": [
            [
                "sd_BJLtFc8jUpSkLLaX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_7rZY7u8z7mFXloKf",
        "type": "PageStart",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "start",
        "name": "outflow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "datas",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "outflow",
        "category": "General",
        "x": 185,
        "y": 600,
        "wires": [
            [
                "sd_t6B674e19KCZYmRm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_t6B674e19KCZYmRm",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.datas,'datas input')\npage.detailed = bh.input.datas?.status\npage.status = false\nconsole.log(page.detailed,'oiijn')\n\npage.datas = bh.input.datas\nconsole.log(page.datas,'datas   oiijn')\n",
        "functionName": "sd_t6B674e19KCZYmRm",
        "category": "Function",
        "x": 485,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_BJLtFc8jUpSkLLaX",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.input.url = 'patients'\n// bh.input.method = 'get'\n// bh.input.body = ''\n\npage.detailed = false\npage.reciept = false\npage.status = true",
        "functionName": "sd_BJLtFc8jUpSkLLaX",
        "category": "Function",
        "x": 395,
        "y": 200,
        "wires": [
            [
                "sd_10B9F7f4SdRFecbS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_ok54OEhyNHls3Vmt",
        "type": "PageStart",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "start",
        "name": "detailedoutflow ",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "changedstatus",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "detailedoutflow",
        "category": "General",
        "x": 605,
        "y": 460,
        "wires": [
            [
                "sd_dhNfFhh60AkykSaX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_dhNfFhh60AkykSaX",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.status = true\n// console.log(page.status,'oiijn')\n// if(bh.input.changedstatus.reciept===true){\n//    page.detailed = bh.input.changedstatus.status\n//    page.reciept = true\n// }else{\n// page.detailed = bh.input.changedstatus.status\n// }\n",
        "functionName": "sd_dhNfFhh60AkykSaX",
        "category": "Function",
        "x": 905,
        "y": 460,
        "wires": [
            [
                "sd_4QLmSgQSVokYR5ge"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_10B9F7f4SdRFecbS",
        "type": "PageCallService",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_wTCxtJ9bwOR3Cb37",
            "type": "tab",
            "createdDate": "2024-02-16T15:18:16.208Z",
            "label": "patientslist",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_mdCT6m4iB9saDw5Y",
            "flowName": "patients"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "patients",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_10B9F7f4SdRFecbS",
        "category": "General",
        "x": 805,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_mdCT6m4iB9saDw5Y",
        "type": "PageStart",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "start",
        "name": "patients",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "patients",
        "category": "General",
        "x": 155,
        "y": 340,
        "wires": [
            [
                "sd_LmCdUA5a05uEMavm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_LmCdUA5a05uEMavm",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.url = 'patients'\nbh.input.method = 'get'\n// bh.input.body = ''",
        "functionName": "sd_LmCdUA5a05uEMavm",
        "category": "Function",
        "x": 335,
        "y": 340,
        "wires": [
            [
                "sd_ue902p3IruZP1eRR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_ue902p3IruZP1eRR",
        "type": "PageCallService",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_06crRHWu4Z9W0XWR",
            "type": "tab",
            "createdDate": "2024-02-16T15:23:30.793Z",
            "label": "patient",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_Zc31OM9IVJvue7Qp",
            "flowName": "common"
        },
        "inputVariables": [
            {
                "key": "url",
                "map": true,
                "valueType": "bh.input",
                "value": "url"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh.input",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.local.result"
            }
        ],
        "serviceImportPath": "app/sd-services/patient",
        "startName": "common",
        "inputParams": [
            "bh.input.url",
            "bh.input.method",
            "bh.input.body"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ue902p3IruZP1eRR",
        "category": "General",
        "x": 495,
        "y": 340,
        "wires": [
            [
                "sd_sbUDiEkgIRIQH1g5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_sbUDiEkgIRIQH1g5",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.patientslist = bh.local.result?.response\nconsole.log(page.patientslist,'resrerrrrrs')\n\npage.status = true\nconsole.log(page.status,'kkkkkkkkk')",
        "functionName": "sd_sbUDiEkgIRIQH1g5",
        "category": "Function",
        "x": 675,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_n77vaX26qdR0gTCz",
        "type": "OnChanges",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 260,
        "wires": [
            [
                "sd_QWSNHIrm2ekn57gb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_4QLmSgQSVokYR5ge",
        "type": "PageSwitch",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changedstatus",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.changedstatus",
        "rules": [
            {
                "t": "eq",
                "v": "detailed",
                "vt": "str",
                "gv": "\"detailed\""
            },
            {
                "t": "eq",
                "v": "reciept",
                "vt": "str",
                "gv": "\"reciept\""
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str",
                "gv": "\"close\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_4QLmSgQSVokYR5ge",
        "category": "Function",
        "x": 1085,
        "y": 460,
        "wires": [
            [
                "sd_lRybZe7zMEf0obaC"
            ],
            [
                "sd_kKLUfU5MuSoNw6LN"
            ],
            [
                "sd_yMQuwXjOre9n4UFT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_lRybZe7zMEf0obaC",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.detailed = false",
        "functionName": "sd_lRybZe7zMEf0obaC",
        "category": "Function",
        "x": 925,
        "y": 320,
        "wires": [
            [
                "sd_10B9F7f4SdRFecbS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_yMQuwXjOre9n4UFT",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.detailed = false\npage.status = true\n\n",
        "functionName": "sd_yMQuwXjOre9n4UFT",
        "category": "Function",
        "x": 925,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_kKLUfU5MuSoNw6LN",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.detailed = false\npage.status = false\npage.reciept = true\n\n",
        "functionName": "sd_kKLUfU5MuSoNw6LN",
        "category": "Function",
        "x": 1265,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    },
    {
        "id": "sd_Ca2BQyapzxN5egq3",
        "type": "PageStart",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "pages",
        "nodeType": "start",
        "name": "recieptflow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "recieptflow",
        "category": "General",
        "x": 185,
        "y": 720,
        "wires": [
            [
                "sd_JuB9FZR8KUZwesj5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "patientslistComponent"
    },
    {
        "id": "sd_JuB9FZR8KUZwesj5",
        "type": "Script",
        "z": "sd_wTCxtJ9bwOR3Cb37",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.reciept = false\npage.status = false\npage.detailed = true\n\n",
        "functionName": "sd_JuB9FZR8KUZwesj5",
        "category": "Function",
        "x": 485,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "patientslistComponent",
        "generated": true
    }
]
