designs/pages/IMH/department/editing_modal.json
[
    {
        "id": "sd_hRAlN5Z2s8LtdP7A",
        "type": "tab",
        "createdDate": "2024-02-16T12:35:06.914Z",
        "label": "editing_modal",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_UxdEJa9rQH0eQCUZ",
        "type": "OnInit",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "editData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "refresh",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            },
            {
                "key": "closeModal",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "pageVariables": [],
        "functionName": "sd_UxdEJa9rQH0eQCUZ",
        "category": "Lifecycle Events",
        "x": 145,
        "y": 100,
        "wires": [
            [
                "sd_4MfsfNW72NRt8NNJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_yx6tLgURC07lsowv",
        "type": "PageVariables",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "editData",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageInput.editData"
                }
            }
        ],
        "functionName": "sd_yx6tLgURC07lsowv",
        "category": "Function",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_mJyTWqsprDzbPOad"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_mJyTWqsprDzbPOad",
        "type": "UseDependency",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "libaries",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "libaries",
        "category": "Function",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_f8CfYQXhcblFbucm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_f8CfYQXhcblFbucm",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.editData,'edit data printing')\npage.editForm = new page.formGroup({\n    name : new page.formControl(page.editData?.name,[page.validators.required]),\n    info: new page.formControl(page.editData?.info,[page.validators.required])\n})\n",
        "functionName": "sd_f8CfYQXhcblFbucm",
        "category": "Function",
        "x": 685,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_ol9R7YtzWjwfIMIO",
        "type": "SnackBar",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Department updated successfully"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ol9R7YtzWjwfIMIO",
        "category": "General",
        "x": 825,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_TE01sJ2uIMY6F9E6",
        "type": "PageStart",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close_modal_function",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeModalFunction",
        "category": "General",
        "x": 185,
        "y": 480,
        "wires": [
            [
                "sd_JjxrToyjCbQ1cqDy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_saR6Ti34KpyvlCey",
        "type": "Output",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "eventName": "bh.pageOutput.closeModal",
        "data": "\"'close'\"",
        "functionName": "sd_saR6Ti34KpyvlCey",
        "category": "Function",
        "x": 565,
        "y": 480,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "bh.pageOutput",
                "value": "closeModal",
                "constant": false
            },
            "data": {
                "type": "str",
                "value": "'close'",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_JjxrToyjCbQ1cqDy",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('calling from modal')",
        "functionName": "sd_JjxrToyjCbQ1cqDy",
        "category": "Function",
        "x": 365,
        "y": 480,
        "wires": [
            [
                "sd_saR6Ti34KpyvlCey"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_SvCU87ssYZs5jgLY",
        "type": "PageStart",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmission",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmission",
        "category": "General",
        "x": 105,
        "y": 240,
        "wires": [
            [
                "sd_53EprZhKx4hoJouX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_6JdndehVRese6bmu",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.editData,'========')\nconsole.log(bh.local.response,'response')",
        "functionName": "sd_6JdndehVRese6bmu",
        "category": "Function",
        "x": 545,
        "y": 260,
        "wires": [
            [
                "sd_t8tRAYlDl6UmwZqU",
                "sd_MffMOUE9mM8guA5E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_iHCyoNmRpyBRHoke",
        "type": "PageCallService",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_UB1I5yieE0ATvfFj",
            "flowName": "editDepartment"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "bh.local",
                "value": "editData"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "editDepartment",
        "inputParams": [
            null,
            "bh.local.editData"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_iHCyoNmRpyBRHoke",
        "category": "General",
        "x": 425,
        "y": 260,
        "wires": [
            [
                "sd_6JdndehVRese6bmu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_t8tRAYlDl6UmwZqU",
        "type": "PageCallService",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hRAlN5Z2s8LtdP7A",
            "type": "tab",
            "createdDate": "2024-02-16T12:35:06.914Z",
            "label": "editing_modal",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_TE01sJ2uIMY6F9E6",
            "flowName": "closeModalFunction"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "closeModalFunction",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_t8tRAYlDl6UmwZqU",
        "category": "General",
        "x": 665,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_53EprZhKx4hoJouX",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.editData = {\n    ...page.editForm.value,\n    id:page?.editData?.id,\n    status:page?.editData?.status\n}",
        "functionName": "sd_53EprZhKx4hoJouX",
        "category": "Function",
        "x": 285,
        "y": 260,
        "wires": [
            [
                "sd_iHCyoNmRpyBRHoke"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_MffMOUE9mM8guA5E",
        "type": "PageSwitch",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_MffMOUE9mM8guA5E",
        "category": "Function",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "sd_ol9R7YtzWjwfIMIO",
                "sd_Ft5SqY6mzZLHI2JP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_Ft5SqY6mzZLHI2JP",
        "type": "Output",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "eventName": "bh.pageOutput.refresh",
        "data": "\"refresh page\"",
        "functionName": "sd_Ft5SqY6mzZLHI2JP",
        "category": "Function",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "bh.pageOutput",
                "value": "refresh",
                "constant": false
            },
            "data": {
                "type": "str",
                "value": "refresh page",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_4MfsfNW72NRt8NNJ",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"vefdcs\")",
        "functionName": "sd_4MfsfNW72NRt8NNJ",
        "category": "Function",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "sd_yx6tLgURC07lsowv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    }
]
