designs/pages/IMH/department/editing_modal.json
[
    {
        "id": "sd_hRAlN5Z2s8LtdP7A",
        "type": "tab",
        "createdDate": "2024-02-16T12:35:06.914Z",
        "label": "editing_modal",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_UxdEJa9rQH0eQCUZ",
        "type": "OnInit",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [
            {
                "key": "editData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            },
            {
                "key": "refresh",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                }
            }
        ],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            },
            {
                "key": "closeModal",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "pageVariables": [],
        "functionName": "sd_UxdEJa9rQH0eQCUZ",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_yx6tLgURC07lsowv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_yx6tLgURC07lsowv",
        "type": "PageVariables",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "editData",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageInput.editData"
                }
            }
        ],
        "functionName": "sd_yx6tLgURC07lsowv",
        "category": "Function",
        "x": 345,
        "y": 120,
        "wires": [
            [
                "sd_mJyTWqsprDzbPOad"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_mJyTWqsprDzbPOad",
        "type": "UseDependency",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "libaries",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "libaries",
        "category": "Function",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_f8CfYQXhcblFbucm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_1mLHzE4FAsDHYLg4",
        "type": "PageStart",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close_modal_function",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeModalFunction",
        "category": "General",
        "x": 205,
        "y": 460,
        "wires": [
            [
                "sd_aMQq8VPPOQFnUSlj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_l7fBOqJAB7kjd130",
        "type": "Output",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "eventName": "bh.pageOutput.closeModal",
        "data": "\"'close'\"",
        "functionName": "sd_l7fBOqJAB7kjd130",
        "category": "Function",
        "x": 585,
        "y": 460,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "bh.pageOutput",
                "value": "closeModal",
                "constant": false
            },
            "data": {
                "type": "str",
                "value": "'close'",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_aMQq8VPPOQFnUSlj",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('calling from modal')",
        "functionName": "sd_aMQq8VPPOQFnUSlj",
        "category": "Function",
        "x": 385,
        "y": 460,
        "wires": [
            [
                "sd_l7fBOqJAB7kjd130"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_f8CfYQXhcblFbucm",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page?.editData,'edit data printing')\npage.editForm = new page.formGroup({\n    name : new page.formControl(page.editData?.name,[page.validators.required]),\n    info: new page.formControl(page.editData?.info,[page.validators.required])\n})\n",
        "functionName": "sd_f8CfYQXhcblFbucm",
        "category": "Function",
        "x": 685,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_aUyWjffVJ5dNRsnn",
        "type": "PageStart",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmission",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmission",
        "category": "General",
        "x": 205,
        "y": 240,
        "wires": [
            [
                "sd_7Ym0ClJL7QHZEUqk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "editing_modalComponent"
    },
    {
        "id": "sd_gIqXIpVLJ2AZp0H4",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.local.editData,'========')\nconsole.log(bh.local.response,'response')",
        "functionName": "sd_gIqXIpVLJ2AZp0H4",
        "category": "Function",
        "x": 565,
        "y": 240,
        "wires": [
            [
                "sd_prjZb2MxohmDho1l",
                "sd_2gJYfAHTyYeEHaE3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_iEvxFDh7YAEq1FfD",
        "type": "PageCallService",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_UB1I5yieE0ATvfFj",
            "flowName": "editDepartment"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "bh.local",
                "value": "editData"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "editDepartment",
        "inputParams": [
            null,
            "bh.local.editData"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_iEvxFDh7YAEq1FfD",
        "category": "General",
        "x": 445,
        "y": 240,
        "wires": [
            [
                "sd_gIqXIpVLJ2AZp0H4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_cLzvv1shC3a5nAIH",
        "type": "SnackBar",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Department updated successfully"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_cLzvv1shC3a5nAIH",
        "category": "General",
        "x": 805,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_prjZb2MxohmDho1l",
        "type": "PageCallService",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hRAlN5Z2s8LtdP7A",
            "type": "tab",
            "createdDate": "2024-02-16T12:35:06.914Z",
            "label": "editing_modal",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_1mLHzE4FAsDHYLg4",
            "flowName": "closeModalFunction"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "closeModalFunction",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_prjZb2MxohmDho1l",
        "category": "General",
        "x": 685,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_7Ym0ClJL7QHZEUqk",
        "type": "Script",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.editData = {\n    ...page.editForm.value,\n    id:page?.editData?.id,\n    status:page?.editData?.status\n}",
        "functionName": "sd_7Ym0ClJL7QHZEUqk",
        "category": "Function",
        "x": 305,
        "y": 240,
        "wires": [
            [
                "sd_iEvxFDh7YAEq1FfD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_2gJYfAHTyYeEHaE3",
        "type": "PageSwitch",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.response",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_2gJYfAHTyYeEHaE3",
        "category": "Function",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "sd_cLzvv1shC3a5nAIH",
                "sd_1p4gMtk0k9XlcXKb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    },
    {
        "id": "sd_1p4gMtk0k9XlcXKb",
        "type": "Output",
        "z": "sd_hRAlN5Z2s8LtdP7A",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "eventName": "bh.pageOutput.refresh",
        "data": "\"refresh page\"",
        "functionName": "sd_1p4gMtk0k9XlcXKb",
        "category": "Function",
        "x": 820,
        "y": 280,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "bh.pageOutput",
                "value": "refresh",
                "constant": false
            },
            "data": {
                "type": "str",
                "value": "refresh page",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "editing_modalComponent",
        "generated": true
    }
]
