designs/pages/AIMS/doctor/doctor_page.json
[
    {
        "id": "sd_nDcQgbliDSOpOqSN",
        "type": "tab",
        "createdDate": "2024-02-12T12:35:17.365Z",
        "label": "doctor_page",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "doctor_pageComponent"
    },
    {
        "id": "sd_sebDHdT8uLR9wzjM",
        "type": "OnInit",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_sebDHdT8uLR9wzjM",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_EzNxpwd1uiqrKi1H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctor_pageComponent"
    },
    {
        "id": "sd_EzNxpwd1uiqrKi1H",
        "type": "PageVariables",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "departments",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_EzNxpwd1uiqrKi1H",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_Idr27xVf3VagSczB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    },
    {
        "id": "sd_Mxr5sZx6tNxkYwIg",
        "type": "Script",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.departments = bh.local?.departments || [{id:1,department:'Cardiologist'},{id:2,department:'Neurologist'},{id:3,department:'Orthopedist'},{id:4,department:'Pediatrician'},{id:5,department:'Nephrologist'},{id:6,department:'Endocrinologist'},{id:6,department:'Radiologist'},{id:7,department:'Surgeon'}]",
        "functionName": "sd_Mxr5sZx6tNxkYwIg",
        "category": "Function",
        "x": 685,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    },
    {
        "id": "sd_Idr27xVf3VagSczB",
        "type": "UseDependency",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_Idr27xVf3VagSczB",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_a6Jw6chX9htMKQPM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    },
    {
        "id": "sd_8JL0oKw0opl05nJ6",
        "type": "PageStart",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submitForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "sd_ZirguN2Qzbd0DRXA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctor_pageComponent"
    },
    {
        "id": "sd_ZirguN2Qzbd0DRXA",
        "type": "PageCallService",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_hdd633XWNoRo2DjT",
            "flowName": "addDoctor"
        },
        "inputVariables": [
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "addForm.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "addDoctor",
        "inputParams": [
            null,
            "this.page.addForm.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ZirguN2Qzbd0DRXA",
        "category": "General",
        "x": 245,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    },
    {
        "id": "sd_SXMYox7cEaP3lLlJ",
        "type": "SnackBar",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_SXMYox7cEaP3lLlJ",
        "category": "General",
        "x": 385,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "doctor_pageComponent"
    },
    {
        "id": "sd_3okmuZaQKtfjcwg7",
        "type": "PageCallService",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_3kUC36V9urSLMt09",
            "type": "tab",
            "createdDate": "2024-02-12T16:46:29.971Z",
            "label": "addDoctorComponent",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_gFsQjrGcMIXzyOQD",
            "flowName": "fetchDepartments"
        },
        "inputVariables": [
            {
                "key": "departments",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "departments",
                "valueType": "bh.local",
                "value": "departments",
                "mapVarName": "departments",
                "localVar": "bh.local.departments"
            }
        ],
        "serviceImportPath": "app/sd-services/addDoctorComponent",
        "startName": "fetchDepartments",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_3okmuZaQKtfjcwg7",
        "category": "General",
        "x": 545,
        "y": 40,
        "wires": [
            [
                "sd_Mxr5sZx6tNxkYwIg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    },
    {
        "id": "sd_a6Jw6chX9htMKQPM",
        "type": "Script",
        "z": "sd_nDcQgbliDSOpOqSN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.addForm = new page.formGroup({\n    name: new page.formControl('',[page.validator.required]),\n    phone_no: new page.formControl('',[page.validator.required]),\n    age: new page.formControl('',[page.validator.required]),\n    education: new page.formControl('',[page.validator.required]),\n    address: new page.formControl('',[page.validator.required]),\n    email: new page.formControl('',[page.validator.required]),\n    salary: new page.formControl('',[page.validator.required]),\n    department_id: new page.formControl('',[page.validator.required]),\n    token_limit: new page.formControl('',[page.validator.required])\n})",
        "functionName": "sd_a6Jw6chX9htMKQPM",
        "category": "Function",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "sd_3okmuZaQKtfjcwg7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "doctor_pageComponent",
        "generated": true
    }
]
